=content_for :title do
  Forgot password | AppDeploy
.devise-container-large
  .top-bar
    .logo
      =image_tag 'ic_launcher.png'
    .title
      Forgot password
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'devise-form' }) do |f|
    = devise_error_messages!
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, class: 'form-control'
    .actions
      = f.submit "Send me reset password instructions", class: 'btn btn-raised btn-danger full-width'
    = render "devise/shared/links"
